$--grey-800: #1F2A37;
$--grey-700: #374151;
$--grey-600: #4b5563;
$--grey-300: #D1D5DB;
$--Teal-900: #014451;
$--Teal-500: #0694A2;
$--Red-700: #C81E1E;
$--green-700: #046C4E;
$--Yellow-500: #C27803;
$--Primary-900: #0e0218;
$--text-color: #e2efee;