.scouts-attendance-page {
  direction: rtl;

  .choose-week {
    margin-block: 2rem;
  }

  .simple-table-for-checkboxes {
    margin-block: 2rem;
    border-collapse: collapse;
    width: 100%;

    thead {
      border-bottom: 2px solid var(--grey-700, #650da6);
    }

    th,
    td {
      text-align: right;
    }

    .check-col {
      text-align: center;
      width: 3rem;

      > * {
        margin-inline: auto;
      }
    }

    tbody {
    }

    th {
      font-size: 1rem;
      font-weight: 500;
      padding-block: 0.4rem;
    }
    td {
      font-size: 0.9rem;
      font-weight: 400;
      padding-block: 0.2rem;
    }

    .num-col {
      width: 1.5rem;
    }
  }

  .subscription-box {
    h4 {
      font-size: 16px;
      margin-bottom: 0.5rem;
    }

    label {
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 12px;
    }
  }

  .subscription-box .info-box {
    height: unset;
    padding: 1rem;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .Button {
    font-size: 19.2px;
    margin-block: 2rem;
    width: 50%;
    display: block;
    font-weight: 600;
    margin-inline: auto;
  }
}
