@import "normalize.css";
@import "typography";
@import "layout";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-base-size);
  background-color: var(--bg);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  color: var(--text-color);
  text-decoration: none;
}