@import "normalize.css";
@import "typography";
@import "layout";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-base-size);
  background-color: var(--bg);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

textarea {
  width: 90%;
  height: 10rem;

  border-radius: 4px;
  border: 1px solid var(--grey-600, #4B5563);
  background-color: var(--grey-700, #374151);

  direction: rtl;

  color: var(--grey-100, #9CA3AF);
  padding: 10px 10px;

  font-size: 1rem;
  font-weight: 500;

}