.all-card {
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    background: var(--grey-700, #374151);
    border-radius: 10px;

    .horizontally-aligned {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}