@import "../_vars.scss";

.alert-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 15px;
  background: $--grey-800;

  padding: 15px 15px;
  margin-block: 1rem;
  justify-content: center;
  direction: rtl;

  gap: 20px;
}

.top-bar {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: fit-content;

  justify-content: space-between;
  align-items: center;
}

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: fit-content;
}

.right-box {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
  border-radius: 2px;
  margin-left: 10px;

  &.red {
    color: var(--Red-700, #c81e1e);
  }

  &.main {
    color: $--grey-300;
  }

  &.mint-green {
    color: $--Teal-500;
  }

  &.yellow {
    color: $--Yellow-500;
  }
}

.title {
  &.main {
    color: $--grey-300;
  }

  &.mint-green {
    color: $--Teal-500;
  }

  &.red {
    color: $--Red-700;
  }

  &.yellow {
    color: $--Yellow-500;
  }
}

.exit-btn {
  cursor: pointer;
}

.alert-btn {
  display: flex;
  width: 100px;
  height: 25px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  outline: none;
  border: none;
  cursor: pointer;

  float: right;
  border-radius: 5px;

  color: $--grey-800;

  &.red {
    background: var(--Red-700, #c81e1e);
  }

  &.main {
    background: $--grey-300;
  }

  &.mint-green {
    background: $--Teal-500;
  }

  &.yellow {
    background: $--Yellow-500;
  }
}

.hide {
  display: none;
}
