.Button {
  outline: none;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  color: inherit;
  font-size: 19px;
  font-weight: 500;
  text-align: center;

  a {
    color: inherit;
    font-size: 19px;
    font-weight: 500;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &--primary {
    background-color: var(--primary-100);
    color: var(--grey-900);
  }

  &--primary-darker {
    background-color: var(--primary-200);
    color: var(--grey-900);
  }

  &--regular {
    background-color: var(--grey-800);
    color: var(--grey-100);
  }

  &--dark {
    background-color: var(--primary-900);
    color: var(--grey-50);
  }

  &--medium {
    font-size: 1rem;
    padding-inline: 10px;
  }

  &--success {
    background-color: var(--green-400);
    color: var(--grey-900);
  }

  &--danger {
    background-color: var(--red-500);
    color: var(--grey-900);
  }

  // TODO: Add more button styles and maybe sizes
}
