.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--grey-100);
  font-size: 1rem;
  direction: rtl;
  width: 100%;

  .radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    margin: 0.5rem 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--grey-600, #4b5563);
    background: var(--grey-700, #374151);
    padding: 0 4px;
    line-height: 1rem;
    color: var(--grey-100);
  }
}
