$Teal-900: #014451;
$Teal-500: #0694A2;
$grey-800: #1f2a37;
$grey-700: #374151;
$grey-600: #4b5563;
$green-700: #046C4E;
$Primary-900: #0e0218;
$text-color: #e2efee;
$font: 'Noto Kufi Arabic';

.hero {
    display: flex;
    width: 22.5rem;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1.75rem 0.25rem;
    gap: 1.1875rem;
}

.card {
    background-color: $grey-800;
    border-radius: 1.875rem;
    display: flex;
    width: 16.9375rem;
    padding: 1.0625rem 0rem;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
    .input-field {
        display: flex;
        width: 14.16319rem;
        padding: 0.125rem 0.75rem;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 0rem 9.25rem;
        flex-wrap: wrap;
        input {
            background: $grey-700;
            margin-block: 0.3rem;
            border: 1px solid $grey-600;
            border-radius: 0.25rem;
            width: 12.66319rem;
            height: 1.75rem;
            flex-shrink: 0;
        }
    }
}

.no-account {
    color: $Teal-500;
    font-family: $font;
    margin-bottom: 1rem;
}

button {
    color: $text-color;
    font-family: $font;
    background: $green-700;
    border: 0px solid;
    border-radius: 0.3125rem;
    display: flex;
    width: 7.25rem;
    height: 1.875rem;
    padding: 0.8125rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
