.Nav {
  padding: 1rem;

  .container {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  &__logo a {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;

    h2 {
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 800;
      margin: 0;
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  a {
    cursor: pointer;
    > * {
      cursor: pointer;
    }
  }

  &__icon {
    width: 24px;
    cursor: pointer;
  }
}
