.table-box {
    display: flex;
    padding: 30px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;

    border: 1px solid var(--Primary-600, #650DA6);
    width: 90%;

    justify-self: center;

}

table {
    width: inherit;

}

.columns-name-box {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.columns-title-box {

    width: 100%;
    display: flex;
    flex-direction: row;
    direction: rtl;

}

.columns-value-box {
    display: flex;
    flex-direction: column;
}


.single-row {
    width: 100%;

    direction: rtl;
    display: flex;
    flex-direction: row;

    padding-bottom: 10px;

    height: fit-content;

}

th,
td {
    text-align: center;
    width: 100px;
}

.table-outlier {
    direction: rtl;
    width: 80%;
    display: block;
    overflow-x: scroll;
}