.login {
  .hero {
    display: flex;
    width: 22.5rem;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1.75rem 0.25rem;
    gap: 1.1875rem;
  }

  .card {
    background-color: var(--grey-800);
    border-radius: 1.875rem;
    display: flex;
    padding: 1.0625rem 0rem;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 1rem;

    .input-field {
      display: flex;
      width: 14.16319rem;
      padding: 0.125rem 0.75rem;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      gap: 0rem 9.25rem;
      flex-wrap: wrap;
      input {
        background: var(--grey-700);
        margin-block: 0.3rem;
        border: 1px solid var(--grey-600);
        border-radius: 0.25rem;
        width: 12.66319rem;
        height: 1.75rem;
        flex-shrink: 0;
      }
    }
  }

  .no-account {
    color: var(--Teal-500);
    margin-bottom: 1rem;
  }
}
