.activity-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;

    gap: 20px;

    .activity-section {
        width: 95%;
        max-width: 400px;
        height: fit-content;
        max-height: 800px;

        background: var(--grey-800);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
        border-radius: 10px;

        overflow-y: scroll;
    }

    .add-button {
        width: 30%
    }
}